/* The sidebar menu */
.sidenav {
  margin: 0;
  padding: 0;
  width: 20%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  height: 100%;
  overflow: auto;
  background-color: none;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #111;
  display: block;
}

/* Active/current link */
.sidenav a.active {
  background-color: #04AA6D;
  color: white;
}

/* Links on mouse-over */
.sidenav a:hover:not(.active) {
  background-color: #555;
  color: white;
}

/* Style page content */
.main {
  margin-left: 20%; /* Same as the width of the sidebar */
  margin-right: 20%; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidenav {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidenav a {float: left;}
  div.main {margin-left: 0; margin-right:0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidenav a {
    text-align: center;
    float: none;
  }